<header class="w-full border-2 border-black-300 bg-[#1e293b] h-16 fixed top-0">
    <nav class="md:container mx absolute top-3 right-10">
        <span class="container ">
            <ul class="flex flex-row-reverse flex-end text-base text-center h-10 text-2xl">
                <li class="w-1/6"><%= link_to "My Blogs", posts_path %></li>
                <li class="w-1/6"><%= link_to "Create Post", new_post_path %></li>
                <li class="w-1/6"><%= link_to "Home", root_path %></li>
                
            </ul>
        </span>
    </nav>
</header>